@media (min-width:375px) and (max-width:450px) {
    .container{
        width: 100%;
        height: auto;
        box-sizing: border-box;
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0 auto;

    }
    .header{
        width: 100%;
        height: 60px;
        display: flex;
        align-items: center;
        box-sizing: border-box;
        padding:8px 20px;
        background: #333331;
        border: none;
        border-bottom: 2px solid #FDB106;
        margin: 0;
        z-index: 10;
    }
    .header__logo{
        width: 94px;
        height: 12px;
        background-image: url(/img/logo.svg);
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        margin: 0;
        margin-right: 13px;
    }
    .header__nav{
        display: none;
        width: 300px;
        height: auto;
        margin-right: 114px;
    }
    .nav__ul{
        display: flex;
        text-decoration: none;
        align-items: center;
        justify-content: space-between;
        flex-direction: column;
        cursor: pointer;
    }
    .nav__ul li{
        cursor: pointer;
        display: flex;
        justify-content: space-between;
        align-items: center;
        text-decoration: none;
        font-family: 'Proxima Nova', sans-serif;
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        line-height: 22px;
        text-align: center;
        text-transform: uppercase;
        color: #FFFFFF;
    }
    .header__number{
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: left;
        padding-left: 27px;
        box-sizing: border-box;
        border: none;
        border-left: 3px solid #FDB106;
        margin-right: 33px;
    }
    .header__phone{
        margin: 0;
        font-family: 'Proxima Nova', sans-serif;
        font-style: normal;
        font-weight: 600;
        font-size: 15px;
        line-height: 17px;
        color: white;
        white-space: nowrap;
        text-align: left;
    }
    .header__span{
        font-family: 'Proxima Nova', sans-serif;
        font-style: normal;
        font-weight: 600;
        font-size: 15px;
        line-height: 15px;
        color: #FDB106;
        white-space: nowrap;
        text-align: left;
    }
    .header__menu{
        display: flex;
        width: 28px;
        height: 19px;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        margin: 0;
        padding: 0;
    }
    .header__menu span{
        width: 28px;
        height: 2px;
        background: #FDB106;
    }
    .taxi{
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
        height: 538px;
        margin: 0;
        position: relative;
        padding: 20px;
        box-sizing: border-box;
        background-image: url(/img/small-bg.png);
        margin: 0;
        display: flex;
        flex-direction: column;
    }
    .taxi__car{
        display: none;
    }
    .taxi__ellips{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0;
        margin: 0;
        width: 100%;
    }
    .kia-text{
        display: flex;
        flex-direction: column;
        margin-left: -30px;
        margin-top: -90px;
        position: relative;
        text-align: center;

    }
    #kia-text{
        text-align: center;
        font-family: 'Days', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 26px;
        line-height: 30px;
        text-align: center;
        text-transform: uppercase;
        color: white;
        margin: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .span{
        margin: 0;
        font-family: 'Days', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 26px;
        line-height: 30px;
        color: #FDB106;
        text-transform: lowercase;
        text-align: center;
    }
    .car__img2{
        background-image: url(/img/rio-s.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        width: 360px;
        height: 200px;
        z-index: 10;
    }
    .kia-text span{
        position: absolute;
        width: 200px;
        height: 200px;
        border-radius: 50%;
        left: -92px;
        top: 50.31px;
        z-index: 0;
        background: #FDB106
    }
    .content__timing{
        margin: 0;
        margin-left: 30px;
        margin-bottom: 34px;
    
    }
    .content__strong{
        font-weight: 600;
        font-size: 15px;
        line-height: 17px;
        text-align: center;
    }
    .taxi__text{
        display: none;
    }
    .taxi__text2{
        display: flex;
        flex-direction: column;
        text-align: center;
        font-family: 'Days';
        font-style: normal;
        font-weight: 400;
        font-size: 26px;
        line-height: 30px;
        text-align: center;
        text-transform: uppercase;
        color: white;
    }
    .taxi__text2 span{
        display: block;
        color: #FDB106;
        text-transform: lowercase;
        margin-bottom: 6px;
    }
    .icon{
        width: 100%;
        padding-top: 15px;
        padding-right: 70px;
        padding-left: 68px;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
    }
    .icon__first, 
    .icon__second{
        display: flex;
        align-items: center;
        margin-bottom: 10px;
        margin-left: -10px;
    }
    .icon__thrid{
        margin: 0;
    }
    .equipment{
        width: 100%;
        display: flex;
        height: auto;
        box-sizing: border-box;
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 50px;
    }
    .equipment__heading{
        font-family: 'Days', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 26px;
        line-height: 30px;
        text-align: center;
        text-transform: uppercase;
        color: #000000;
        margin-bottom: 19px;
    }
    .equipment__select{
        display: flex;
        flex-direction: column;
        margin-bottom: 19px;
    }
    .eq__text{
        font-family: 'Proxima Nova';
        font-style: normal;
        font-weight: 700;
        font-size: 18px;
        line-height: 22px;
        display: flex;
        align-items: left;
        color: #333331;
        margin-bottom: 19px;
    }
    .eq__model{
        background: #FFFFFF;
        box-shadow: 2px 4px 10px rgba(255, 187, 36, 0.5);
        width: 100%;
        display: flex;
        align-items: center;
        box-sizing: border-box;
        flex-direction: column;
        margin-bottom: 19px;
        border-radius: 30px;
    }
    .eq__model-wr{
        border-radius: 30px;
        width: 100%;
        height: auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
        box-sizing: border-box;
        padding-right: 20px;
        padding-left: 20px;
        padding-top: 11px;
        padding-bottom: 12px;
    }
    .eq__str{
        font-family: 'Proxima Nova', sans-serif;
        font-style: normal;
        font-weight: 700;
        font-size: 15px;
        line-height: 15px;
        color: #000000;
        width: 92px;
        white-space: nowrap;
    }
    .eq__txt{
        font-family: 'Proxima Nova', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 15px;
        line-height: 20px;
        color: #000000;
    }
    .eq__price{
        font-family: 'Proxima Nova', sans-serif;
        font-style: normal;
        font-weight: 700;
        font-size: 18px;
        line-height: 22px;
        text-align: center;
        color: #FDB106
    }
    .eq__elps{
        width: 26px;
        height: 26px;
        border: none;
        background: #333331;
        color: #FDB106;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        cursor: pointer;
    }
    #eq__after{
        background: #FFFFFF;
        width: 100%;
        height: auto;
        box-sizing: border-box;
        align-items: center;
        flex-direction: column;
        display: flex;
        border-radius: 0 0 30px 30px;
        box-shadow: 2px 4px 10px rgba(255, 187, 36, 0.5);
        position: relative;
    }
    .eq__after{
        padding-top: 20px;
        padding-left: 49px;
        padding-right: 49px;
        padding-bottom: 26px;
        width: 100%;
        flex-direction: column;
        display: none;
        flex-wrap: wrap;
    }
    .after-wr{
        display: flex;
        justify-content: space-between;
        width: 212px;
        margin: 0;
        margin-bottom: 17px;
        margin-left: -25px;
    }
    .after-wr2{
        display: flex;
        justify-content: space-between;
        width: 238px;
        margin-bottom: 20px;
    }
    .eq__speed small{
        font-family: 'Proxima Nova', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 15px;
        line-height: 20px;
        color: #333331;
        white-space: nowrap;
    }
    .sm{
        font-family: 'Proxima Nova', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 15px;
        line-height: 20px;
        color: #333331;
        white-space: nowrap;
        margin-right: 70px;
    }
    .speed__img{
        width: 25px;
        height: 25px;
        margin-right: 8px;
    }
    .eq__btn{
        font-family: 'Proxima Nova',sans-serif;
        font-style: normal;
        font-weight: 700;
        font-size: 18px;
        line-height: 22px;
        text-align: center;
        text-transform: uppercase;
        color: #FFFFFF;
        padding: 12px 28px;
        text-shadow: 4px 4px 4px rgba(241, 199, 19, 0.1);
        background: linear-gradient(90deg, #FFBB24 0%, #FDB003 100%);
        box-shadow: 6px 8px 12px -6px rgba(255, 187, 36, 0.34);
        border-radius: 50px;
        border: none;
        margin-bottom: 19px;
    }
    .sBtn-text{
        font-family: 'Proxima Nova', sans-serif;
        font-style: normal;
        font-weight: 700;
        font-size: 18px;
        line-height: 18px;
        text-decoration-line: underline;
        text-transform: uppercase;
        color: #FDB106;
        text-align: center;
    }
    .sBtn-text .bx{
        display: none;
    }
    .options{
        display: none;
        flex-direction: column;
        width: 100%;
        height: auto;
        box-sizing: border-box;
        padding-top: 30px;
        padding-left: 41px;
        padding-bottom: 0;
        padding-right: 22px;
        position: relative;
        background: #333331;
        box-shadow: 2px 4px 15px rgba(255, 187, 36, 0.52);
        border-radius: 30px;
        position: absolute;
        top: -100px;
        left: 0;
        z-index: 100;

    }
    .options div{
        margin-bottom: 30px;
    }
    .btn__close{
        display: block;
        border: 1px solid #FDB003;
        position: absolute;
        border-radius: 50%;
        right: -10px;
        top: -10px;
        color: #FDB003;
        width: 45px;
        height: 45px;
        background: #333331;
        box-shadow: 6px 8px 12px -6px rgba(255, 187, 36, 0.34);
    }
    .options strong{
        font-family: 'Proxima Nova', sans-serif;
        font-style: normal;
        font-weight: 600;
        font-size: 15px;
        line-height: 17px;
        display: flex;
        align-items: left;
        color: white;
        margin-bottom: 10px;
        margin-left: -15px;
    }
    .options ul{
        list-style-type: circle;
    }
    .options ul li{
        font-family: 'Proxima Nova', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 15px;
        line-height: 20px;
        color: white;
    }
    .service{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        box-sizing: border-box;
        padding-top: 22px;
        padding-left: 24px;
        padding-right: 24px;
    }
    .service__heading{
        font-family: 'Days', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 26px;
        line-height: 30px;
        text-align: center;
        text-transform: uppercase;
        color: #000000;
        margin-bottom: 37px;
    }
    .service__wrapper{
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }
    .service__block{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0;
        margin-bottom: 10px;
    }
    .serv__wr{
        display: flex;
        align-items: center;
        width: 305px;
        height: 65px;
        position: relative;
        margin: 0;
        margin-bottom: 10px;
    }
    .require{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        padding: 0;
        padding-top: 40px;
        padding-left: 29px;
        box-sizing: border-box;
    }
    .require__heading{
        font-family: 'Days', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 26px;
        line-height: 30px;
        text-align: center;
        text-transform: uppercase;
        color: #000000;
        margin-bottom: 35px;
    }
    .require__wrapper{
        width: 100%;
        height: auto;
        justify-content: space-between;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .block{
        position: relative;
        flex-direction: column;
        display: flex;
        margin-bottom: 49px;
    }
    #swipper{
        display: flex;
        width: 100%;
        text-align: center;
        flex-direction: column;
        box-sizing: border-box;
        padding: 0;
        box-sizing: border-box;
    }
    .swipper__heading{
        font-family: 'Days', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 26px;
        line-height: 30px;
        text-align: center;
        text-transform: uppercase;
        color: #000000;
        margin-bottom: 20px;
    }
    .swipper__heading span{
        display: block;
        font-family: 'Days', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 26px;
        line-height: 30px;
        color: #FDB003;
    }
    .card__swp{
        width: 381px;
        height: 336px;
        background: #FFFFFF;
        box-shadow: 0px 0px 30px #FDB106;
        margin: 0;
        border-radius: 0;
        margin-bottom: 30px;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .card__swp-prev{
        width: 381px;
        height: 336px;
        background: white;
        box-shadow: 0px 0px 30px #FDB106;
        border-radius: 0;
        margin: 0;
        /* margin-left: 114px; */
        margin-bottom: 30px;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .card__swp-next{
        width: 381px;
        height: 336px;
        background: white;
        box-shadow: 0px 0px 10px #FDB106;
        border-radius: 0;
        margin: 0;
        /* margin-right:114px ; */
        margin-bottom: 30px;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .card__head{
        background: #FDB106;
        width: 100%;
        height: 96px;
        text-align: center;
        box-sizing: border-box;
        padding-top: 23px;
        padding-bottom: 23px;
        margin-bottom: 15px;
        border-radius:0;
    }
    .swiper-button-next,
    .swiper-button-prev{
        transform: matrix(1, 0, 0, -1, 0, 0);
        width: 40px !important;
        height: 40px !important;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        background-color: white;
        border: none;
        padding: 0;
        z-index: 2;
        background: #FDB106;
    }
    .swiper-pagination{
        display: none;
    }
    .card__btn{
        background: linear-gradient(90deg, #FFBB24 0%, #FDB003 100%);
        box-shadow: 6px 8px 12px -6px rgba(255, 187, 36, 0.34);
        border-radius: 50px;
        font-family: 'Proxima Nova';
        font-style: normal;
        font-weight: 700;
        font-size: 18px;
        line-height: 22px;
        text-align: center;
        text-transform: uppercase;
        padding-top: 12px;
        padding-bottom: 12px;
        padding-left: 28px;
        padding-right: 28px;
        border: none;
        color: white;
        cursor: pointer;
    }

    .best{
        display: flex;
        width: 100%;
        margin: 0;
        padding: 0;
        padding-top: 22px;
        padding-left: 36px;
        padding-right: 36px;
        padding-bottom: 29px;
        box-sizing: border-box;
    }
    .best__heading{
        font-family: 'Days', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 26px;
        line-height: 30px;
        text-align: center;
        text-transform: uppercase;
        color: #FFFFFF;
        width: 240px;
        height: 90px;
        white-space: wrap;
    }
    .best__wrapper{
        margin: 0;
        flex-direction: column;
        align-items: center;
    }
    .best__one{
        width: 303px;
        height: 208px;
        padding-top: 26px;
        padding-left: 28px;
        padding-bottom: 27px;
        box-sizing: border-box;
        margin: 0;
        margin-bottom: 15px;
    }
    .best__block{
        display: flex;
    }
    .best__one div:nth-child(4){
        margin-top: 20px;
        margin-bottom: 0;
    }
    .best__one div:nth-child(3){
        margin-top: 15px;
        margin-bottom: 0;
    }
    .icon1{
        width: 30px;
        height: 30px;
        margin-right: 22px;
    }
    .icon2{
        width: 30px;
        height: 30px;
        margin-right: 22px;
    }
    .icon3{
        width: 40px;
        height: 20px;
        margin-right: 11px;
    }
    .icon4{
        width: 32px;
        height: 30px;
        margin-right: 19px;
    }
    .best__txt{
        font-family: 'Proxima Nova', sans-serif;
        font-style: normal;
        color: #000000;
        font-weight: 600;
        font-size: 15px;
        line-height: 17px;
    }
    .best__btn{
        margin: 0;
        border: none;
        margin-bottom: 37px;
        margin-top: 5px;
    }
    .best__info{
        display: flex;
        justify-content: space-between;
        margin: 0;
        width: 303px;
        height: auto;
    }
    .info__mobile{
        display: flex;
        flex-direction: column;
        margin: 0;
    }
    .info__mobile small:nth-child(1){
        margin-bottom: 10px;
    }
    #hidden{
        display: none;
    }
    .info__small{
        margin: 0;
    }
    footer{
        width: 100%;
        box-sizing: border-box;
        padding: 0;
        padding-top: 31px;
        padding-left: 36px;
        padding-bottom: 33px;
        align-items: center;
        text-align: center;
        display: flex;
        flex-direction: column;
    }
    .footer{
        padding: 0;
        margin: 0;
        height: auto;
    }
    .footer__heading{

        display: block;
        font-family: 'Proxima Nova';
        font-style: normal;
        font-weight: 700;
        font-size: 15px;
        line-height: 15px;
        color: #FFFFFF;
        text-align: center;
        white-space: nowrap;
        margin-bottom: 15px;
        margin-top: 31px;
    }
    .footer__wrapper{
        display: flex;
        align-items: center;
        margin: 0;
        padding: 0;
        margin-bottom: 52px;
    }
    .footer__cars1{
        display: flex;
        flex-direction: column;
        text-align: left;
        margin-right: 30px;
    }
    .footer__cars2{
        display: flex;
        flex-direction: column;
        text-align: left;
    }
    .cars__block1{
        display: flex;
        margin: 0;
    }
    .cars__block2{
        display: flex;
        margin: 0;
    }
    .cars__block3{
        display: flex;
        margin: 0;
    }
    .ul__block{
        text-decoration: none;
        list-style: none;
    }
    .ul__block li{
        font-family: 'Proxima Nova', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 10px;
        line-height: 20px;
        color: #FFFFFF;
        white-space: nowrap;
    }
    .footer__info{
        margin: 0;
        display: flex;
        flex-direction: column;
        text-align: center;
        margin-bottom: 6px;
    }
    .footer__txt{
        font-family: 'Proxima Nova', sans-serif;
        font-style: normal;
        font-weight: 400;
        color: #FFFFFF;
        margin-right: 187px;
        text-align: center;
        font-weight: 400;
        font-size: 10px;
        line-height: 20px;
        text-transform: uppercase;
        white-space: nowrap;
        margin: 0;
    }
    .footer__txt2{
        font-family: 'Proxima Nova', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 10px;
        line-height: 20px;
        display: flex;
        align-items: center;
        text-align: center;
        color: #FFFFFF;
        text-align: center;
        margin: 0;
    }
    .footer__txt3-m{
        display: block;
        font-family: 'Proxima Nova', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 10px;
        line-height: 15px;
        text-align: center;
        color: white;
        max-width: 335px;
        width: 100%;
        margin: 0;
        height: auto;
        white-space: nowrap;
        margin-bottom: 33px;
    }
    .footer__txt3{
        display: none;
    }

}   